body, html {
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .g-wrap {
    margin: auto;
    display: flex;
    width: 100vw;
    height: 100vh;
    background: #000;
  }
  .g-wrap p {
    position: relative;
    width: 800px;
    font-size: 40px;
    color: transparent;
    margin: auto;
    line-height: 1.5;
    padding: 20px;
    background: linear-gradient(-4deg, transparent, transparent 25%, #ffb6ff, #b344ff, transparent 75%, transparent);
    -webkit-background-clip: text;
            background-clip: text;
    background-size: 100% 400%;
    background-position: center 0;
    -webkit-animation: textScroll 6s infinite linear alternate;
            animation: textScroll 6s infinite linear alternate;
  }
  
  @-webkit-keyframes textScroll {
    100% {
      background-position: center 100%;
    }
  }
  
  @keyframes textScroll {
    100% {
      background-position: center 100%;
    }
  }